<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <servlet>
        <servlet-name>RemoveApplicationData</servlet-name>
        <servlet-class>controller.RemoveApplicationData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveApplicationData</servlet-name>
        <url-pattern>/RemoveApplicationData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveApplication</servlet-name>
        <servlet-class>controller.RemoveApplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveApplication</servlet-name>
        <url-pattern>/RemoveApplication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddingApplicationProduction</servlet-name>
        <servlet-class>controller.AddingApplicationProduction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddingApplicationProduction</servlet-name>
        <url-pattern>/AddingApplicationProduction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewingApplicationProduction</servlet-name>
        <servlet-class>controller.ViewingApplicationProduction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewingApplicationProduction</servlet-name>
        <url-pattern>/ViewingApplicationProduction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddingNewApplication</servlet-name>
        <servlet-class>controller.AddingNewApplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddingNewApplication</servlet-name>
        <url-pattern>/AddingNewApplication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddingDataForOrder</servlet-name>
        <servlet-class>controller.AddingDataForOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddingDataForOrder</servlet-name>
        <url-pattern>/AddingDataForOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewingApplications</servlet-name>
        <servlet-class>controller.ViewingApplications</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewingApplications</servlet-name>
        <url-pattern>/ViewingApplications</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewingApplicationData</servlet-name>
        <servlet-class>controller.ViewingApplicationData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewingApplicationData</servlet-name>
        <url-pattern>/ViewingApplicationData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewingPe</servlet-name>
        <servlet-class>controller.ViewingPe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewingPe</servlet-name>
        <url-pattern>/ViewingPe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewingSdr</servlet-name>
        <servlet-class>controller.ViewingSdr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewingSdr</servlet-name>
        <url-pattern>/ViewingSdr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewingPipeType</servlet-name>
        <servlet-class>controller.ViewingPipeType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewingPipeType</servlet-name>
        <url-pattern>/ViewingPipeType</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>